.userProfileDiv{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.userProfileList{
    background: #232B2B;
    border: 2px solid #DC3D24;
    border-radius: 2px;
    
}




/* #DC3D24
#232B2B
#FFFFFF
#E3AE57 */